<div class="yht-field">
  @if (!field.labelledBy) {
    <label class="field-label" [class.cdk-visually-hidden]="field.labelHidden" [id]="getFieldId() + '-label'" [for]="getFieldId()">
      {{ field.label }}
      <yht-required-mark [readonly]="field.readonly" [required]="field.required"></yht-required-mark>
    </label>
  }
  <mat-form-field [class.readonly]="field.readonly">
    <input
      matInput
      [attr.aria-invalid]="control.invalid"
      [attr.aria-labelledby]="field.labelledBy || null"
      [formControl]="control"
      [id]="getFieldId()"
      [max]="max"
      [min]="min"
      [placeholder]="placeholder"
      [readonly]="field.readonly"
      [required]="field.required"
      [step]="step"
      type="number"
    />
    @if (field.errors) {
      <mat-error>{{ field.errors }}</mat-error>
    }
  </mat-form-field>
</div>
