@if (field.type === formFieldTypes.PASSWORD) {
  <div class="yht-field">
    @if (!field.labelledBy) {
      <label class="field-label" [class.cdk-visually-hidden]="field.labelHidden" [id]="getFieldId() + '-label'" [for]="getFieldId()">
        {{ field.label }}
        <yht-required-mark [readonly]="field.readonly" [required]="field.required"></yht-required-mark>
      </label>
    }
    <mat-form-field [class.readonly]="field.readonly">
      <input
        matInput
        [attr.aria-invalid]="control.invalid"
        [attr.aria-labelledby]="field.labelledBy || null"
        [formControl]="control"
        [id]="getFieldId()"
        [placeholder]="placeholder"
        [required]="field.required"
        [type]="hide ? 'password' : 'text'"
        (input)="field.onChange ? field.onChange(control) : null"
      />
      @if (!field.readonly) {
        <button class="me-2" mat-icon-button matSuffix (click)="togglePasswordIcon()" type="button">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      }

      @if (field.errors) {
        <mat-error>{{ field.errors }}</mat-error>
      }
    </mat-form-field>
  </div>
} @else {
  <div class="yht-field">
    @if (!field.labelledBy) {
      <label class="field-label" [class.cdk-visually-hidden]="field.labelHidden" [id]="getFieldId() + '-label'" [for]="getFieldId()">
        {{ field.label }}
        <yht-required-mark [readonly]="field.readonly" [required]="field.required"></yht-required-mark>
      </label>
    }
    <mat-form-field [class.readonly]="field.readonly">
      <input
        matInput
        [attr.aria-invalid]="control.invalid"
        [attr.aria-labelledby]="field.labelledBy || null"
        [formControl]="control"
        [id]="getFieldId()"
        [placeholder]="placeholder"
        [required]="field.required"
        [readonly]="field.readonly"
        [type]="field.type"
        (input)="field.onChange ? field.onChange(control) : null"
      />
      @if (!field.readonly && field.type === formFieldTypes.PHONE) {
        <mat-icon matIconSuffix svgIcon="phone"></mat-icon>
      }
      @if (!field.readonly && field.type === formFieldTypes.EMAIL) {
        <mat-icon matIconSuffix svgIcon="email"></mat-icon>
      }
      @if (field.errors) {
        <mat-error>{{ field.errors }}</mat-error>
      }
    </mat-form-field>
  </div>
}
