<wvw-autocomplete
  [dataSourceFunction]="fieldData.dataSourceFn"
  [disabled]="field.disabled"
  [field]="field"
  [fieldId]="getFieldId()"
  [formControl]="control"
  [label]="field.label"
  [minHintChars]="fieldData.minHintChars"
  [optionLabelFn]="fieldData.optionLabelFn"
  [optionLabelKey]="fieldData.optionLabelKey"
  [optionValueKey]="fieldData.optionValueKey"
  [ordering]="ordering"
  [placeholder]="placeholder"
  [readonly]="field.readonly"
  [required]="field.required"
></wvw-autocomplete>
