<h2 mat-dialog-title>{{ strings.changePassword.title }}</h2>

<mat-dialog-content>
  <form [formGroup]="form">
    @if (form.hasError('general')) {
      <span class="alert alert-danger d-block mb-3">{{ form.getError('general') }}</span>
    }

    <div class="row mt-3">
      @for (fieldName of fieldNames; track fieldName) {
        <ng-container *ngIf="fields.get(fieldName); let field">
          <yht-form-field-switcher [control]="getFormControl(field.name)" [field]="field"></yht-form-field-switcher>
        </ng-container>
      }
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button color="primary" mat-button mat-dialog-close>{{ commonStrings.cancel }}</button>
  <button mat-flat-button color="accent" [disabled]="form.invalid || saving" type="submit" (click)="submit($event)">
    {{ strings.changePassword.button }}
    <yht-spinner [visible]="saving"></yht-spinner>
  </button>
</mat-dialog-actions>
