<div class="d-flex justify-content-center align-items-center">
  <mat-card>
    <mat-card-title class="text-center">{{ strings.resetPassword.confirm.title }}</mat-card-title>
    <mat-card-content class="mt-3">
      <form [formGroup]="form">
        @if (form.hasError('general')) {
          <span class="alert alert-danger d-block mb-3">{{ form.getError('general') }}</span>
        }

        <div class="row mt-3">
          @for (fieldName of fieldNames; track fieldName) {
            <ng-container *ngIf="fields.get(fieldName); let field">
              <yht-form-field-switcher [control]="getFormControl(field.name)" [field]="field"></yht-form-field-switcher>
            </ng-container>
          }
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="justify-content-center">
      <button color="primary" [disabled]="form.invalid || saving" mat-flat-button (click)="submit($event)">
        {{ commonStrings.save }}
        <yht-spinner [visible]="saving"></yht-spinner>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
