<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
  @if (!isForgotPasswordMode) {
    <wvw-login-form (emailCopy)="setEmail($event)" (resetPasswordViewChange)="goToResetPasswordForm()"></wvw-login-form>
  } @else {
    <wvw-reset-password-form></wvw-reset-password-form>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button color="primary" mat-button mat-dialog-close>{{ commonStrings.cancel }}</button>
  <button mat-flat-button color="accent" [disabled]="form.invalid || saving" type="submit" (click)="submit($event)">
    {{ isForgotPasswordMode ? strings.resetPassword.button : strings.login.button }}
    <wvw-spinner [visible]="saving"></wvw-spinner>
  </button>
</mat-dialog-actions>
