<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content>
  @if (form.hasError('general')) {
    <span class="alert alert-danger d-block mb-3">{{ form.getError('general') }}</span>
  }

  @if (!isForgotPasswordMode) {
    <yht-login-form (emailCopy)="setEmail($event)" (resetPasswordViewChange)="goToResetPasswordForm()"></yht-login-form>
  } @else {
    <yht-reset-password-form></yht-reset-password-form>
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button color="primary" mat-button mat-dialog-close>{{ commonStrings.cancel }}</button>
  <button mat-flat-button color="accent" [disabled]="form.invalid || saving" type="submit" (click)="submit($event)">
    {{ isForgotPasswordMode ? strings.resetPassword.button : strings.login.button }}
    <yht-spinner [visible]="saving"></yht-spinner>
  </button>
</mat-dialog-actions>
